# Doc: https://pre-commit.com

repos:
  # Default pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-yaml
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: mixed-line-ending
    - id: trailing-whitespace

  # Typos
  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  # Markdown linter
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
    - id: markdownlint
      args:
      - "--disable=MD013"

  # Shellcheck linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck
      args:
      - "--exclude=SC2034"
